.header {

}
/*body {*/
/*    margin: 0;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*}*/

.header {
    overflow: hidden;
    /*background-color: #f1f1f1; */
    padding: 10px 10px;
    text-align: center;
}



.header a {
    float: left;
    color: limegreen;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 4px;
}

.scroll h6 {
    float: snap;
    font-size: 30px;
    font-size: 3em;
    color: limegreen;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 100px;
    text-align: center;
    /* Starting position */

    /* Apply animation to this element */

    animation: mymove 10s linear infinite;
}
/* Move it (define the animation) *


/* Standard syntax */
@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 200px;
    }
}

.header .navbar-right {
    flex-direction: row;
}

.col-md-3 {
    display: inline;

}




.footer {
    position: fixed;
    left: 0;
    bottom :0px;
    width: 100%;
    color: black;
    text-align: center;
    background-color: dimgray;
    padding: 10px 10px;
}


.total{
    align: right;

}