<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/headerfooter.css" th:href="@{/css/headerfooter.css}"/>

    <title>Cart</title>
</head>

<div th:replace="fragments/header.html :: gaminzoHeader"></div>
<div class="container">
    <div class="row">


        <table class="table table-striped">
            <thead>
            <tr>
                <th>ProductName</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
            </thead>

            <tbody>
            <div class="col-sm-4" th:each="cartItem:${cart.getCartItemDtos()}">
                <tr>
                    <td th:text="${cartItem.getProductName()}"></td>
                    <td th:text="${cartItem.getPrice()}"></td>
                    <td th:text="${cartItem.getCount()}"></td>
                    <td th:with="result=${cartItem.getPrice() * cartItem.getCount()}" th:text="${result}"></td>
<!--                        <span th:text="${result}"></span>-->


                </tr>
            </div>
            </tbody>

        </table>

        <div class="col-sm-4">
            <span>Total</span>
        </div>
        <div class="col-sm-4">
            <span></span>
        </div>
        <div class="col-sm-4" align="right"><span class="total" th:text=&#8377></span>
            <span th:text="${cart.getTotal()}"/></span></div>


    </div>
</div>

<div th:replace="fragments/header.html :: gaminzoFooter"></div>

</body>
</html>