<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gaminzo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"  href="../css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet"  href="../css/headerfooter.css" th:href="@{/css/headerfooter.css}"/>

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<div th:replace="fragments/header.html :: gaminzoLoginHeader"></div>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Login to Gaminzo</h3>
            </div>



            <div class="card-body">
                <form action="#" th:action="@{/gaminzo/login}" th:object="${user}" method="post">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email"  class="form-control" th:field="*{username}" placeholder="username" name="username" required>
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Id Incorrect</span>
                    </div>
                    <div class="input-group btn-space form-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password"  class="form-control" th:field="*{password}" placeholder="password" name="password" required>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Incorrect</span>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" name="submit" value="login" class="btn btn-space float-center login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/header.html :: gaminzoFooter" ></div>

</body>
</html>


