<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="../css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="../css/headerfooter.css" th:href="@{/css/headerfooter.css}"/>

    <title>Signup</title>
    <style>
        .form-group1 {
            margin-bottom: 0px !important;
            padding-top: 1rem;
        }

        .error-msg {
            font-size: 14px;
            color: #d83a49;
            float: right;
        }
    </style>


</head>
<body>

<div th:replace="fragments/header.html :: gaminzoSignupHeader"></div>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Signup to Gaminzo</h3>

            </div>
            <div class="card-body">
                <form action="#" th:action="@{/gaminzo/signup}" th:object="${user}" method="post" id="signup">
                    <div class="input-group form-group">

                        <div class="form-group" th:if="${param.success}">
                            <div class="alert alert-success">
                                SignUp complete! You can now <a href="/login" th:href="@{/login}">login</a>
                            </div>
                        </div>
                    </div>
                    <div class="input-group form-group1">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" title="e.g abcd@gmail.com" placeholder="username"
                               pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                               class="form-control" name="user-name" th:field="*{username}" required>
                    </div>
                    <span class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Id Incorrect</span>

                    <div class="input-group btn-space form-group1 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="password" class="form-control" th:field="*{password}"
                               placeholder="password" name="password" required>
                    </div>
                    <span class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Incorrect</span>

                    <div class="input-group btn-space form-group1 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="confirmPass" class="form-control" th:field="*{confirmPassword}"
                               placeholder="confirmPassword" name="confirmPassword" required>
                        <span class="error-msg" id="message" th:if="${#fields.hasErrors('confirmPassword')}"
                              th:errors="*{confirmPassword}">Password Mismatch</span>
                    </div>


                    <div class="row">
                        <div class="col-sm">
                            <input type="submit" name="submit" value="Submit" class="btn btn-space login_btn"></div>

                        <div class="col-sm">

                            <input type="reset" name="reset" value="Reset" class="btn btn-space login_btn"></div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/header.html :: gaminzoFooter"></div>

</body>

<script>
    var password = document.getElementById("password");
    var confirmPass = document.getElementById("confirmPass");

    function validatePassword() {
        if (password.value != confirmPass.value) {
            confirmPass.setCustomValidity("Passwords Does not Match");
        } else {
            confirmPass.setCustomValidity('');
        }
    }

    confirmPass.onkeyup = validatePassword;


</script>

</html>